@{
    ViewData["Title"] = "Editar";
}

<div class="container">
    <div class="text-center">
        <h2>Se ha actualizado con exito!</h2>
        <p>La Información del usuario se ha actualizado cone¿ exito</p>
        <a class="btn btn-primary"asp-controller="Usuarios" asp-action="Index">Aceptar</a>
    </div>
</div>