@{
    ViewData["Title"] = "Eliminar";
}

<div class="container">
    <div class="text-center">
        <h2>El usuario se ha eliminado con exito</h2>
        <p>Se elimino con exito!</p>
        <a class="btn btn-primary"asp-controller="Usuarios" asp-action="Index">Aceptar</a>
    </div>
</div>