<div>
    <div class="d-flex justify-content-end">
        <a asp-area="" asp-controller="Index" asp-action="Index">Inicio</a>
        <p class="ms-3">Actualizar información del libro</p>
    </div>
    <div class="d-flex flex-column justify-content-center align-items-center">
        <div class="border p-4 m-4">
            <div>
                <p>Imagen:</p>
                <input class="form-control" type="string" id="imagen" value="ejemplo">
            </div>
            <div>
                <p>Codigo:</p>
                <input class="form-control" type="string" id="codigo" value="ejemplo">
            </div>
            <div>
                <p>Titulo:</p>
                <input class="form-control" type="string" id="titulo" value="ejemplo">
            </div>
            <div>
                <p>Autor:</p>
                <input class="form-control" type="string" id="autor" value="ejemplo">
            </div>
            <div>
                <p>Año de publicación:</p>
                <input class="form-control" type="number" id="publicacion" value="1">
            </div>
            <div>
                <p>Editorial:</p>
                <input class="form-control" type="string" id="editorial" value="ejemplo">
            </div>
            <div>
                <p>Genero:</p>
                <select class="form-select">
                    <option disabled selected>Elegir</option>
                    <option>Referencia</option>
                    <option>Religion</option>
                    <option>Ciencias puras</option>
                    <option>Ciencias sociales</option>
                    <option>Ciencias aplicadas</option>
                    <option>Arte</option>
                    <option>Literatura</option>
                    <option>Hemeroteca</option>
                </select>
            </div>
            <div>
                <p>Sinopsis:</p>
                <textarea class="form-control" type="string" id="sinopsis">Ejemplo</textarea>
            </div>
            <div>
                <p>Estado</p>
                <select class="form-select">
                    <option disabled selected>Elegir</option>
                    <option>Disponible</option>
                    <option>Ocupado</option>
                    <option>Suspendido</option>
                </select>
            </div>
            <div>
                <p>Observaciones:</p>
                <textarea class="form-control" type="string" id="observaciones">Ejemplo</textarea>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-center align-items-center">
        <a class="btn btn-primary" asp-area="" asp-controller="Gestionlibros" asp-action="Index">Actualizar</a>
        <a class="btn btn-danger ms-2" asp-area="" asp-controller="Gestionlibros" asp-action="Index">Cancelar</a>
    </div>
</div>