<div>
    <!-- ¡Hola!, esto es una pantalla principal, para poder tener botones que nos guién a las otras páginas, 
    tambien lo estoy haciendo :) -->
    <h1>Bienvenido al sistema de gestión de bibliotecas</h1>
    <div>
        <a class="nav-link text-dark" asp-area="" asp-controller="Inicio" asp-action="Index">Inicio</a>
    </div>
</div>